header {
    background-color: orange;
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    transform: rotate(-15deg);

}
body {
    background-color: tan;

}
.wrapper {
    font-size: 60px;
    padding: 10px;
    font-family: "Courier New";
}
img {
    opacity: 0.2;
    filter: alpha(opacity=40);
    width: 400px;
    height: 400px;
}

img:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
}
